@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  -webkit-touch-callout: none; /* Disable callout, image save panel (iOS) */
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
